/* Position and sizing of burger button */

.bm-burger-button {
    position: absolute;
    width: 20px;
    height: 20px;
    left: calc(100vw - 50px);
    top: 36px;
}


/* Color/shape of burger icon bars */

.bm-burger-bars {
    background: white;
}

.menu-item {
    border-radius: 12px;
    border: none;
    font-size: 24px;
    font-family: 'LottePaperFang';
    color: #00356B;
    font-weight: bold;
}

.menu-item:hover,
.menu-item:focus {
    outline: none;
    color: #2079DD;
}


/* Color/shape of burger icon bars on hover*/

.bm-burger-bars-hover {
    background: white;
}


/* Position and sizing of clickable cross button */

.bm-cross-button {
    height: 24px;
    width: 24px;
}


/* Color/shape of close button cross */

.bm-cross {
    background: #bdc3c7;
}


/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */

.bm-menu-wrap {
    position: fixed;
    height: 100%;
}


/* General sidebar styles */

.bm-menu {
    background: #E5EAF3;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}


/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
    fill: white;
}


/* Wrapper for item list */

.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
    text-align: center;
}


/* Individual item */

.bm-item {
    display: inline-block;
    color: #373a47;
    text-align: center;
}

.bm-item:hover,
.bm-item:focus {
    outline: none;
}


/* Styling of overlay */

.bm-overlay {
    background: white;
}

.replace-s {
    font-family: "Cocogoose";
    font-size: 1.2em;
}