.startups h2 {
    font-family: "futura";
    color: #051B33;
}

.startups h2 .replace-s {
    font-family: "futura";
    font-size: 1.2em;
}

.startups-body {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.startup-illustration {
    width: 60vw;
}

.startups-hype {
    margin-left: 20vw;
    margin-right: 20vw;
    font-size: 18px;
}

@media screen and (max-width: 568px) {
    .startups-body {
        grid-template-columns: repeat(1, 1fr);
    }
}