.headshot {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.headshot-circle {
    height: 120px;
    width: 120px;
}

.leader-info {
    height: fit-content;
    width: 200px;
    align-self: center;
    justify-self: center;
}

.leader-info .bio {
    color: grey;
    font-size: 14px;
}