header {}

.logo {}

#navbar {}

#burger-menu {}

#tag-line {}

@media only screen and (max-width:568px) {
    header {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #00AFEA;
        background-color: #00356B;
        padding-bottom: .5rem;
    }
    .logo {
        grid-row: 1;
        padding: .5rem;
        padding-left: none;
        height: 15vmin;
    }
    #navbar {
        display: none;
    }
}

@media only screen and (min-width:768px) {
    header {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
        background-color: #00356B;
        display: grid;
        align-items: center;
    }
    .logo {
        grid-row: 1;
        padding: .5rem;
        margin-bottom: .5rem;
        height: 10vmin;
        justify-self: start;
    }
    #navbar {
        grid-row: 1;
        justify-content: center;
        justify-self: end;
        vertical-align: middle;
        margin-right: 2rem;
    }
    #burger-menu {
        display: none;
    }
}