.startup-card-container {
    height: fit-content;
    justify-self: center;
    align-self: center;
    width: 400px;
    text-align: center;
    color: white;
    display: grid;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: .5rem;
}

.startup-card-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.startup-card-container .header {
    width: 100%;
    height: fit-content;
    background-color: whitesmoke;
    grid-column: 1;
    grid-row: 1;
    border-radius: 12px 12px 0px 0px;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.startup-card-container .footer {
    width: 100%;
    height: fit-content;
    background-color: #00356B;
    grid-row: 2;
    grid-column: 1;
    border-radius: 0px 0px 12px 12px;
}

.startup-card-btn {
    background-color: #1E90FF;
    height: 25px;
    width: 75px;
    border-radius: 12px;
    margin-left: 20px;
    border: none;
    outline: none;
    color: white;
}

.startup-card-btn:hover {
    opacity: .8;
}

.startup-card-container .button-container {
    text-align: right;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    bottom: 10px;
    right: 25px;
}

.startup-writeup {
    margin-left: 1rem;
    margin-right: 1rem;
}

.startup-logo {
    height: 80px;
    width: 80px;
    border-radius: 12px;
    object-fit: contain;
}